body {
  background-color: #f4f6f9;
  padding: 20px;
}


.top-bar button {
  min-width: 120px;
}

.form-card {
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.match-card {
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.history-card {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #0d6efd;
  background: #fbcccc;
}

.msg {
  background-color: #eef2ff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  color: rgb(238, 123, 123);
}

.result-text {
  font-weight: bold;
  color: #198754;
  margin-top: 6px;
}
