h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}



/* mobile */
@media (max-width: 767px) {

  .top-bar {
    flex-direction: column;
  }

  .top-bar button {
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }
}



